.App {
  margin: 5%;
}

h1, h2{
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  margin: 5% 0%;
}

.recipe-body {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 10px;
  margin-top: 5%;
}

@media (max-width: 767px) {
  .recipe-body {
      grid-template-columns: 1fr; /* Single column for mobile devices */
  }
}
