.App {
  height: 100%;
}

.app-content {
  height: calc(100% - 64px - 54px);
  padding: 5%;
  overflow-y: scroll;
  background-color: whitesmoke;
  display: flex;
}

h1, h2{
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
}

.recipe {
  width: -webkit-fill-available;
}

.recipe-body {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 10px;
  margin-top: 5%;
}

@media (max-width: 767px) {
  .recipe-body {
      grid-template-columns: 1fr;
  }
}

.spinner-border {
  height: 10rem !important;
  width: 10rem !important;
  display: block !important;
  border-width: 10px !important;
  margin: auto;
}

.navbar-brand {
  color: white !important;
  font-size: 1.5rem !important;
  font-weight: 500;
}

.card-text {
  margin: 2%;
}

.welcome, .error-message {
  margin: auto;
  text-align: center;
  font-size: large;
}

.welcome-title {
  font-size: xx-large;
}

.navbar-fixed-bottom {
  margin: 0 5%;
}